<?php
// @codingStandardsIgnoreFile

/** @var $block \Tapbuy\Checkout\Block\Script */
if (!$block->isTapbuyEnabled()) return;

?>
<script type="text/javascript">!function(a,b){b=a.createElement("script"),b.type="text/javascript",b.async=!0,b.onload=function(){"function"==typeof TapbuyInit&&TapbuyInit()},b.src="<?php echo $block->getScriptUrl(false); ?>",a.getElementsByTagName("head")[0].appendChild(b)}(document);</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Tapbuy_Checkout/js/tapbuy": {}
        }
    }
</script>